body {
  background-color: #f2f9f9;
  font-family: 'Chonburi', cursive;
}

.navbar-fixed {
  background-color: #cfd8dc;
  width: 100%;
  height: 64px;
  position: fixed;
}

#dropdown {
  border-radius: 0 0 25px 0;
  border: 1px solid black;
  background-color: #cfd8dc;
}

nav ul li:hover, .dropdown-content > li > a:hover {
   background-color: white;
}

h2 {
   position: absolute;
   top: 200px;
   left: 0;
   width: 100%;
}

h2 span {
   color: #f2f9f9;
   font: bold 24px/45px Helvetica, Sans-Serif;
   letter-spacing: -1px;
   padding: 10px;
}

h2 span.spacer {
   padding:0 5px;
}

.helvetica {
  font-family: 'Helvetica', 'Arial', sans-serif;
}

#projects {
  margin-top: 200px;
}

.work-title {
  margin-top: 80px;
  margin-bottom: 50px;
}

.list {
  border: 1px solid black;
  border-radius: 7px;
  background-color: #C3C6C0;
}

.all-projects {
  margin-left: 20px;
  margin-right: 20px;
}

.project-image {
  border-radius: 15px;
}

.project-image-container {
  margin-bottom: 80px;
  margin-top: 30px;
}

.project-title {
  border-radius: 15px;
  background-color: #4F4E55;
  color: #f2f9f9;
}

.project-title:hover {
  background-color: #d3a10c;
  color: black;
}

.sf {
  margin-top: 100px;
}

.white-background {
  padding: 20px;
  margin: 10%;
  background-color: white;
  border-radius: 25px;
}

.modal {
  border-radius: 30px;
  border: 4px solid #C3C6C0;
}

.modal-text {
  margin: 20px;
}

.hero-image {
  height: 750px;
}

.golden-gate-img {
  height: 700px;
}

.footer {
  background-color: #cfd8dc;
  padding-top: 70px;
  padding-bottom: 70px;
  color: black;
}

.headshot {
  max-height: 150px;
  margin-right: 0px;
  padding-right: 0px;
}

.icon {
  margin-bottom: 10px;
}

.contact-details-1 {
  margin-top: 10px;
}

.contact-details-2 {
  margin-top: 30px;
  word-break: break-all;
}

.contact-details-3 {
  margin-top: 30px;
}

.linkedin-image, .github-image, .email-image {
  max-width: 25px;
}
