body {
  background-color: #C3C6C0;
  font-family: 'Chonburi', cursive;
}

.navbar-fixed {
  background-color: #616161;
  width: 100%;
  height: 64px;
  position: fixed;
}

#dropdown {
  border-radius: 0 0 25px 0;
  border: 1px solid black;
}

nav ul li:hover {
   background-color: black;
}

h2 {
   position: absolute;
   top: 200px;
   left: 0;
   width: 100%;
}

h2 span {
   color: white;
   font: bold 24px/45px Helvetica, Sans-Serif;
   letter-spacing: -1px;
   background: rgb(38, 38, 38);
   background: rgba(38, 38, 38, 0.7);
   padding: 10px;
}

h2 span.spacer {
   padding:0 5px;
}

.work-title {
  margin-top: 80px;
  margin-bottom: 50px;
}

.list {
  border: 1px solid black;
  border-radius: 7px;
  background-color: #C3C6C0;
}

.all-projects {
  margin-left: 20px;
  margin-right: 20px;
}

.project-image {
  border-radius: 15px;
}

.project-image-container {
  margin-bottom: 80px;
  margin-top: 30px;
}

.project-title {
  border-radius: 15px;
  background-color: rgb(60,60,100);
}

.project-title:hover {
  background-color: #d3a10c;
}

.white-background {
  margin-left: 20px;
  margin-right: 20px;
  padding: 20px;
  background-color: white;
}

.modal {
  border-radius: 30px;
  border: 4px solid #C3C6C0;
}

.about-me-details {
  margin-left: 30%;
  margin-bottom: 30px;
}

.modal-text {
  margin: 20px;
}

.footer {
  background-color: #616161;
  padding-top: 50px;
  padding-bottom: 50px;
}

.linkedin-image, .github-image {
  max-width: 25px;
}
